/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

hr{
  color: #5B5B5B;
  background-color:#5B5B5B ;
}

.main-wrapper{
  height: 100vh;
}


/*DEBUG*/
.debug{
  border: 1px solid white;
}

/*HEADER*/



/*MAIN*/
main{
  display: flex;
  height: calc(100% - 90px);
}

/*CTA*/
.cta{
  width: calc(100% - 230px);
  height:90px;
  position: fixed;
  top: 0;
  right:0;
  background-color:#080B12 ;
}

.cta .btn{
  margin: 30px;
  position: fixed;
  right: 0;
  top: 0;
}

.btn a{
  border: 1px solid #ECECEC;
  padding: 10px 30px;
  border-radius: 20px;
  color: #ECECEC;
}

/*ASIDE*/
aside{
  width: 230px;
  height: 100%;
  flex-shrink: 0;
  background-color:#000000;

}

aside img{
  width: 70%;
margin: 20px 15px;
}

aside i{
  font-size: 20px;
}

aside a{
font-size: small;
color: #616161
}

aside ul{
  margin-bottom:10px;
}

aside ul li{
  line-height: 2rem;
  margin-left: 20px;
  font-weight: 600;
}

/*ASIDE ICONS*/
aside .fa-square-plus{
  font-size: 40px;
  color:#A3A3A3;
  vertical-align: bottom;
}

aside .fa-circle-arrow-down{
  color:#ECECEC;
  font-size: small;
}

aside .fa-circle-user{
  color:#A3A3A3;
}

/*ASIDE TEXT*/

aside .text ul li:first-child a{
  color:#ECECEC;
}

aside .text span{
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}


/*ASIDE PROFILE*/

aside .profile div{
  padding: 10px;
}

aside .profile div:first-child {
  border-bottom:1px solid #616161;
}

aside .profile div:last-child a{
  color: #ECECEC;
  font-size: medium;
  font-weight: 500;
}

/*CONTENT*/
.content{
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color:#141922;
  color: white;
  overflow-y: auto;
}

.content ul{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.content ul li a{
  color:#73767B;
  margin:15px;
  display: flex;
  
}

/*PLAYER*/
.player{
  height: 90px;
  background-color:#282828 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8C8C8C;
  font-weight: 500;
  text-align: center;
}

.player .center{
  width: 50%;
}

.player .left, .right{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .bar{
  background-color:#5D5D5D ;
  border-radius: 50px;
}

/*PLAYER LEFT*/
.player .img{
  width: 10%;
  margin-right:50px;
}

.player .song-name{
  width: 20%;
  text-align: left;
  align-items: center;
}

.player .song-name h4{
  color:white;
}

.player .favourites{
  width: 20%;
}

/*PLAYER CENTER*/



/*PLAYER RIGHT*/
.player .menu{
  width: 60%;
  color: white;
  display: flex;
}

.player .menu i{
  margin-left: 20px;
}

.player .right .bar{
  width: 40%;
  height: 5px;
  margin: 5px 20px;
  position: relative;
}

.player .right .white.bar{
  width: 40px;
  background-color: white;
  position: absolute;
  top:-5px;
  left:-20px;
}


/*MEDIA QUERY*/
@media screen and (max-width:1700px){
  
}

@media screen and (max-width:1200px){

}

@media screen and (min-width:700px) {

  aside .icons{
    display: none;
  }
}


@media screen and (max-width:700px) {

}

@media screen and (max-width: 600px) {

  aside {
    width: 80px;
  }

  aside .text{
    display: none;
  }

}