/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.debug{
  background-color: rgba(253, 0, 0, .2);
  border: 1px solid black;
  min-height: 50px;
}


/*HEADER*/
header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
}

/*ASIDE*/
aside {
  height: calc( 100% - 200px);
  width: 250px;
  position: fixed;
  left: 0;
  top: 100px;
}

/*MAIN*/
main {
  height: calc(100vh - 200px);
  width: calc(100% - 250px);
  position: fixed;
  left:250px;
  top:100px;
  overflow: auto;
}

/*FOOTER*/
footer{
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/*MEDIA QUERY*/
@media screen and (max-width: 500px) {
  header {
    width: calc(100% - 80px);
  }

  aside {
    width: 80px;
  }
}