/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

hr{
  color: #5B5B5B;
  background-color:#5B5B5B ;
}

.main-wrapper{
  height: 100vh;
}

/*MAIN*/
main{
  display: flex;
  height: calc(100% - 90px);
}

/*CTA*/
.cta{
  width: calc(100% - 230px);
  height:90px;
  position: fixed;
  top: 0;
  right:0;
  background-color:#080B12 ;
}

.cta .btn{
  margin: 30px;
  position: fixed;
  right: 0;
  top: 0;
}

.btn a{
  border: 1px solid #ECECEC;
  padding: 10px 30px;
  border-radius: 20px;
  color: #ECECEC;
}

/*BTN HOVER*/
.cta .btn a:hover{
  padding:15px 35px;
}

/*ASIDE*/
aside{
  width: 230px;
  height: 100%;
  flex-shrink: 0;
  background-color:#000000;
}

aside .logo{
  width: 70%;
  margin: 20px 15px;
}

aside i{
  font-size: 20px;
}

aside a{
font-size: small;
color: #616161
}

aside ul{
  margin-bottom:10px;
}

aside ul li{
  line-height: 2rem;
  margin-left: 20px;
  font-weight: 600;
}

aside .text ul:first-child li:first-child{
  border-left: 2px solid#ABFB2F;
}

/*ASIDE ICONS*/
aside .fa-square-plus{
  font-size: 40px;
  color:#A3A3A3;
  vertical-align: bottom;
}

/*ASIDE TEXT*/
aside .text img{
  width: 10%;
  vertical-align: middle;
}

aside .text ul li:first-child a{
  color:#ECECEC;
}

aside .text span{
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}

aside .text .top-img .gray {
  color:#6C6C6C
}

aside .top-img img{
  width: 30px;
  vertical-align: middle;
}

aside .bottom-img img{
  width:25%;
  vertical-align: middle;
  background-color:#808080 ;
  border-radius: 50%;
}

/*ASIDE PROFILE*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .profile div{
  padding: 10px;
}

aside .profile div:first-child {
  border-bottom:1px solid #616161;
}

aside .profile div:last-child a{
  color: #ECECEC;
  font-size: medium;
  font-weight: 500;
}

.playlist {
  overflow-y: auto;
  height: calc(100vh - 450px);
}

/*ASIDE HOVER*/
aside a:hover{
  color: white;
}

aside a i:hover{
  color: white;
}


/*CONTENT*/
.content{
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color:#141922;
  color: white;
  overflow-y: auto;
}

.content ul{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.content ul li a{
  color:#73767B;
  margin:5px 35px;
  display: flex;
}

.content h5, h6{
  color:#74777B ;
  line-height: 2rem;
}

.content ul li:first-child{
  border-bottom: 2px solid #ABFB2F;
}

/*CONTENT HOVER*/
.content li a:hover{
  color: white;
}

/*CARDS*/
.container-cards{
  margin:0 auto;
  width: 90%;
}

.container-cards h4{
  margin-top: 10px;
}

.content .row-cards{
  display: flex;
  margin: 30px auto;
}

.content .card{
  width:calc(100% / 6) ;
  height: 350px;
  text-align: center;
  margin-right: 50px;
}

/*OVERLAY CARDS HOVER*/
.overlay{
  background-color:chocolate;
  width: 10%;
  position: absolute;
  top:250px;
  
}

/*RECENTLY PLAYER*/
.recently-player .row-cards{
  justify-content: center;
  align-items: center;
  margin-top:5px;
  margin-bottom: 100px;
}

.creato-per .row-cards{
  margin-top:5px;
}

.artisti-popolari .row-cards{
  margin-top:5px;
}

.artisti-popolari .card.round img{
  border-radius: 50%;
}

/*PLAYER*/
.player{
  width: 100%;
  height: 90px;
  background-color:#282828 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8C8C8C;
  font-weight: 500;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.player .center{
  width: 40%;
}

.player .left, .right{
  width: 30%;
  display: flex;
  align-items: center;
}

.player .bar{
  background-color:#5D5D5D ;
  border-radius: 50px;
}

/*PLAYER LEFT*/
.player .img{
  width: 15%;
  margin:0 20px;
  
}

.player .song-name{
  width: 60%;
  text-align: left;
  align-items: center;
  margin-right: 15px;
}

.player .song-name h4{
  color:white;
}

.player .favourites a{
  color: #8C8C8C;
  margin-right: 10px;
}

/*PLAYER LEFT HOVER*/
.player .song-name div:hover{
  color: white;
}

.player .favourites a:hover{
  color: white;
}

/*PLAYER CENTER*/

/*TOP*/
.player .top i{
  align-items: center;
  margin: 0 15px;
  color: white;
  font-size: 20px;
}

.player .center .fa-shuffle{ 
  font-size: 15px;
}

.player .center .fa-rotate-right{
  font-size: 16px;
}

.player .center .fa-circle-play{
  font-size: 30px;
  margin-top: 10px;
  padding: 5px;
}

/*BOTTOM*/
.player .bottom{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.player .bottom div{
  font-size: small;
  font-weight: 600;
  color: white;
}

.player .bottom .bar{
width: 50%;
height: 5px;
margin: 5px 20px;
position: relative;
}

.player .center .small.bar{
  width: 100px;
  background-color: #C6C6C6;
  position: absolute;
  top:-5px;
  left:-20px;
}

.dot{
  background-color: greenyellow;
  border: 1px solid white;
  width: 10px;
  height: 10px;
  position: absolute;
  top:-3px;
  right:-1px;
  border-radius: 50%;
  opacity:0;
}

/*HOVER PLAYER CENTER*/
.player .center .small.bar:hover{
  background-color:#ABFB2F;
}

.bar .dot:hover{
  opacity:1;
}


.player .center .fa-circle-play:hover{
font-size: xx-large;
}

/*PLAYER RIGHT*/
.player .menu{
  width: 80%;
  color: white;
  display: flex;
}

.player .menu i{
  margin-left: 20px;
}

.player .right .bar{
  width: 60%;
  height: 5px;
  margin: 5px 20px;
  position: relative;
}

.player .right .small.bar{
  width: 30px;
  background-color: #C6C6C6;
  position: absolute;
  top:-5px;
  left:-20px;
}

/*HOVER PLAYER RIGHT*/
.player .right .small.bar:hover{
  background-color:#ABFB2F;
}


/*MEDIA QUERY*/

@media screen and (max-width:1200px){
  .content ul{
    flex-wrap: wrap;
  }

  .row-cards{
    display: flex;
    flex-wrap: wrap;
  }

}


@media screen and (min-width:700px) {

  aside .icons{
    display: none;
  }

  aside .logo-small{
    display: none;
  }

}


@media screen and (max-width:700px) {

  .content ul li a{
    font-size: small;
  }

  .favourites{
    flex-wrap:wrap ;
  }

  .content .card{
    width:calc(100% / 3) ;
    height: 300px;
    text-align: center;
  
}
  aside .icons{
    display: none;
  }

  aside .logo-small{
    display: none;
  }
}

@media screen and (max-width: 600px) {

.content ul li a{
  font-size: small;
}

  aside {
    width: 80px;
  }

  aside .icons{
    display: block;
  }

  aside .icons img{
    width: 40%;
  }

  aside .text{
    display: none;
  }

  aside .logo-small{
    display: block;
    width: 40%;
    margin: 20px
  }

  aside .logo{
    display: none;
  }

  aside .profile div:first-child {
    border-bottom:1px solid black;
  }

  .player .center{
    width: 50%;
  }

}





